[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytils = "*"
django-extensions = "*"
ipython = "*"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
